<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Enter Task">
    </div>
    <div class="form-control">
        <label for="day">Day</label>
        <input type="text" name="day" id="day" [(ngModel)]="day" placeholder="Enter Day">
    </div>
    <div class="form-control form-control-check">
        <label for="important">Set Important</label>
        <input type="checkbox" name="important" id="important" [(ngModel)]="important">
    </div>
    <input type="submit" value="Save Task" class="btn btn-block">
</form>